/* reloj.css */
.reloj {
  margin: 20px;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  height: 100px;
}


.paisInfo {
  margin-top: 10px;
}

.contenedor-total {
  width: 70%;
  margin-top: 20px;
  height: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  
}

.barra-progreso {
  height: 100%;
  transition: width 0.5s;
}
.infoContainer{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedorBarra{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
position: relative;
}
.nombreyhora{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
  
  ;
}
.nombreyhora p{
  display: flex;
margin-top: 15px;
font-size: 18px;
  align-items: center;
  justify-content: center;
}
.nombreyhora p svg{
  margin-right: 10px;
}